.product {
    padding-top: 3em;
    background: #C3E8ED;
}
.product__inner {
    padding: 15em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__inner.cream {
    background: #F1EAE9;
}
.product__inner__img {
    width: 500px;
    height: 500px;
    margin-left: 350px;
}
.product__inner__box {
    margin-right: 350px;
    background: white;
    border: solid #E6E6E6 4px;
    padding: 40px 20px;
    width: 300px;
}
.product__inner__box__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__inner__box__top__txt>.title {
    font-size: 25px;
}
.product__inner__box__top__txt>.style {
    font-size: 15px;
}
.product__inner__box__top__price {
    color: rgb(117, 172, 34);
    font-weight: 500;
}
.product__inner__box__paragraph {
    margin-top: 50px;
}
.product__inner__box__number {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid #E6E6E6 1px;
}
.minus{
    cursor: pointer;
    height: 3px;
    width: 15px;
    background: #153774;
}
.more {
    height: 50px;
    width: 15px;
    cursor: pointer;
    position: relative;
}
.more>span {
    height: 3px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%; transform: translateY(-50%);
    background: #153774;
}
.more>span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #153774;
    transform: rotate(90deg);
}
.product__inner__box__number>input {
    border: none;
    width: 20px;
    text-align: center;
}
.product__inner__box__cart {
    cursor: pointer;
    margin-top: 10px;
    border: 0;
    color: white;
    width: 100%;
    height: 50px;
    font-weight: 600;
    background: #153774;
    transition: all ease-in-out .2s;
}
.product__inner__box__cart:hover {
    background: #1e4ba0;
}

.product__add {
    position: fixed;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 20px;
    border-radius: 5px;
    top: 130px;
    white-space: pre;
}
.product__add>a {
    color: white;
    margin-left: 10px;
}
.product__add>a:hover {
    text-decoration: underline;
}
/* ADD ANIMATION */
.product__add.open {
    right: -500px;
    animation: open .5s forwards;
}
.product__add.close {
    right: 50px;
    animation: close .5s forwards;
}
/* KEYFRAMES */
@keyframes open {
    100% {right: 50px;}
}
@keyframes close {
    100% {right: -500px;}
}